<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-end">
            <%= link_to new_user_path(@user),class: "btn btn-primary"  do%> 
              <i class='bi bi-plus-circle-fill' aria-hidden='true'></i> 
            <% end %>
          </div> 
          <h1>Employee List</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Employee-Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <% if user.organization_id == current_user.organization_id %>
                  <tr>
                    <td>
                      <%= user.name %>
                    </td>
                    <td>
                      <%= link_to edit_user_path(user.id), class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                        <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                      <% end %> 
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>