<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3>Edit Property</h3>
            </div>
            <div class="col-md-1 text-right">
              <%= link_to properties_path, class: "btn btn-primary", toggle: 'tooltip', placement: 'top', title: 'Back' do %>
                <i class='bi bi-arrow-left' aria-hidden='true'></i>
              <% end %>
            </div>
            <%= form_for @property, :url => {:controller => 'properties',:action => 'update'}, data: {turbo: false} do |form| %>
              <%= render 'form', :form => form %>
              <div class="col-md-12 text-end"><br />
                <%= form.submit "Update", class: "btn btn-primary", toggle: 'tooltip', placement: 'top', title: 'Update' %>
              </div>
            <% end %>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
