<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h1>Add Holiday</h1>
          <%= form_with model: [leave_day] do |form| %>
            <div class="field">
              <div class="input-group date" data-provide="date" >
                <%= form.text_field :holiday, class: "form-control datepicker-input" %><br>
                  <div class="input-group-append">
                    <div class="input-group-text"><i class="bi bi-calendar3"></i></i></div>
                  </div>
              </div><br>
            </div>
            <div class="col-md-12 text-end">
              <%= form.button "Save", class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>