<div class="row">
  <div class="field col-12">
    <% invalid = @project.errors.include?(:name) %>
    <div class="form-group">
      <%= form.text_field :name, class: "form-control #{'is-invalid' if invalid}", placeholder: "Name" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @project.errors.full_messages_for(:name).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div><br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form.select :user_ids, options_for_select(@users_array, selected: params[:user_id]),{ include_blank: false}, id:"choices-multiple-remove-button", class: "form-control", multiple: true, placeholder: "select user" %>
  </div>
</div><br>  

            