<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h1>Project</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div id="projects">
                  <td>
                    <% @projects.each do |project| %>
                      <%= render project %>
                      <%= link_to "edit", edit_project_path(project.id)%> 
                    <% end %>
                  </td>
                </div>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




